<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>54</integer>
	<key>Time Stamp</key>
	<real>1577077962.0000019</real>
	<key>UUID</key>
	<string>E63F1F80-D320-4547-8ECC-86C5DC01C992</string>
</dict>
</plist>
