<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Ikea 400 lm lamp, fast cycle
cycles, 116 microseconds
CdS cell reading
cdsCell
iphoneLow
start
~8 milliseconds
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
