<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>54</integer>
	<key>Time Stamp</key>
	<real>1578285305.2687879</real>
	<key>UUID</key>
	<string>2E93EC3A-0AE9-4A60-92DC-3D316E2BA419</string>
</dict>
</plist>
