<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>54</integer>
	<key>Time Stamp</key>
	<real>1577079187.2026739</real>
	<key>UUID</key>
	<string>FC637ACB-28B7-4D35-9DDE-FA25CB439410</string>
</dict>
</plist>
